<!DOCTYPE html>

<html>

{% load leaflet_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">

    <title>Leaflet</title>

    {% leaflet_js %}
    {% leaflet_css %}

    <style>

        .leaflet-container { /* all maps */
            width: 600px;
            height: 400px;
        }

        #specialbigmap {
            height: 800px;
        }

        /* Resize the "display_raw" textbox */
        .django-leaflet-raw-textarea {
            width: 100%;
        }
    </style>

</head>

<body>
    {% load static %}

    <div id="leaflet" />

    {% leaflet_map "lmap" callback="window.map_init_basic" %}

    <label for="icity1">1st City:</label>
    <input type="text" id="icity1" name="icity1" />

    <label for="icity2">2nd City:</label>
    <input type="text" id="icity2" name="icity2" />
    <button type="button" onclick="markCity()" id="bcity" name="bcity">Mark</button>

    <script src="{% static 'leafletmap/leafletscript.js' %}"></script>
</body>

</html>